## "서울시 지하철호선별 역별 승하차 인원 정보 데이터" 전처리 과정
- 해당 데이터를 가공하여 연습문제를 푸는 것이 목표 입니다.
- 다양한 데이터를 통한 반복 연습으로 데이터 전처리에 더욱 능숙해질 수 있도록 하겠습니다.
- EDA를 통해 데이터를 이해하기 위한 전 단계입니다.

### 실습 데이터 안내
- 지하철 승하차 이용객 데이터 : 2022.01.01 ~ 2022.12.31 
- 서울 열린데이터 광장 : http://data.seoul.go.kr/dataList/OA-12914/A/1/datasetView.do
- "CARD_SUBWAY_MONTH_2022.csv" 파일을 다운로드 받아 진행하면 됩니다.

## 데이터 전처리 실습을 통해 해결해야 할 질문들

- 실습문제 1. 요일 추가 하기
 
- 실습문제 2. 일자별(일별) 승하차총승객수를 구하시오.

- 실습문제 3. 2022.01월 ~ 12월 중 언제 지하철을 가장 많이 이용했을까? (기준: 승하차총승객수)

- 실습문제 4. 어느 요일에 가장 지하철 승객 수가 많을까? (기준: 승하차총승객수, 2022년 전체)

- 실습문제 5. 가장 승객이 많이 타는 승차역은?

- 실습문제 6. 노선별로 역별/요일별 승차승객수를 구하시오. (pivot_table)

- 실습문제 7. 1호선에서 가장 하차를 많이 하는 역은? (groupby)

- 실습문제 8. 2호선중에서 어느 역에서 승차가 가장 많이 발생할까?

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [89]:
import warnings
warnings.simplefilter(action='ignore')
pd.set_option('display.max_columns', None)

In [90]:
subway = pd.read_csv('./서울시 지하철호선별 역별 승하차 인원 정보.csv', encoding = 'cp949', index_col = False) # 인덱스 컬럼에 대한 설정 : False
subway

            사용일자  노선명       역명  승차총승객수  하차총승객수      등록일자
0       20220101  3호선       수서    7370    7076  20220104
1       20220101  3호선      학여울     461     473  20220104
2       20220101  3호선       대청    3224    2903  20220104
3       20220101  3호선       일원    3321    2803  20220104
4       20220101  경원선       창동       1       0  20220104
...          ...  ...      ...     ...     ...       ...
219740  20221231  4호선      신용산   11025   12099  20230103
219741  20221231  경부선       석수    5643    5147  20230103
219742  20221231  경부선     금천구청    7519    7426  20230103
219743  20221231  경부선  가산디지털단지    5579    7299  20230103
219744  20221231  경부선       구로   11318   12080  20230103

[219745 rows x 6 columns]

In [91]:
# 중복값 제거 
subway.drop_duplicates(inplace=True, keep='first')
# 해당 row의 데이터가 모두 똑같을때 제거됩니다
subway

            사용일자  노선명       역명  승차총승객수  하차총승객수      등록일자
0       20220101  3호선       수서    7370    7076  20220104
1       20220101  3호선      학여울     461     473  20220104
2       20220101  3호선       대청    3224    2903  20220104
3       20220101  3호선       일원    3321    2803  20220104
4       20220101  경원선       창동       1       0  20220104
...          ...  ...      ...     ...     ...       ...
219740  20221231  4호선      신용산   11025   12099  20230103
219741  20221231  경부선       석수    5643    5147  20230103
219742  20221231  경부선     금천구청    7519    7426  20230103
219743  20221231  경부선  가산디지털단지    5579    7299  20230103
219744  20221231  경부선       구로   11318   12080  20230103

[219745 rows x 6 columns]

* 중복값 X

In [23]:
subway.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219745 entries, 0 to 219744
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    219745 non-null  int64
 1   노선명     219745 non-null  object
 2   역명      219745 non-null  object
 3   승차총승객수  219745 non-null  int64
 4   하차총승객수  219745 non-null  int64
 5   등록일자    219745 non-null  int64
dtypes: int64(4), object(2)
memory usage: 11.7+ MB

In [24]:
subway['사용일자'] = pd.to_datetime(subway['사용일자'], format = '%Y%m%d')
# subway['사용일자'] = pd.to_datetime(subway['사용일자'])

In [25]:
subway['사용일자'].info()

<class 'pandas.core.series.Series'>
Int64Index: 219745 entries, 0 to 219744
Series name: 사용일자
Non-Null Count   Dtype
--------------   -----
219745 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 3.4 MB

In [26]:
subway['요일'] = subway['사용일자'].dt.dayofweek

In [27]:
temp = {
    0 : '월',
    1 : '화',
    2 : '수',
    3 : '목',
    4 : '금',
    5 : '토',
    6 : '일'
}

In [28]:
subway['요일'] = subway['요일'].map(temp)

In [43]:
subway

             사용일자  노선명       역명  승차총승객수  하차총승객수      등록일자 요일
0      2022-01-01  3호선       수서    7370    7076  20220104  토
1      2022-01-01  3호선      학여울     461     473  20220104  토
2      2022-01-01  3호선       대청    3224    2903  20220104  토
3      2022-01-01  3호선       일원    3321    2803  20220104  토
4      2022-01-01  경원선       창동       1       0  20220104  토
...           ...  ...      ...     ...     ...       ... ..
219740 2022-12-31  4호선      신용산   11025   12099  20230103  토
219741 2022-12-31  경부선       석수    5643    5147  20230103  토
219742 2022-12-31  경부선     금천구청    7519    7426  20230103  토
219743 2022-12-31  경부선  가산디지털단지    5579    7299  20230103  토
219744 2022-12-31  경부선       구로   11318   12080  20230103  토

[219745 rows x 7 columns]

In [30]:
# 몇 월인지 column 추가 하기
subway['월'] = subway['사용일자'].dt.month

In [36]:
# 일자별(일별) 승하차 총 승객수 구하기
# 총 승객수 = 승차 총 승객수 + 하차 총 승객수
subway['총승객수'] = subway['승차총승객수'] + subway['하차총승객수']
subway.groupby('사용일자', as_index = False)['총승객수'].sum().sort_values('총승객수', ascending = False)

          사용일자      총승객수
300 2022-10-28  16103816
279 2022-10-07  16086459
272 2022-09-30  15872612
286 2022-10-14  15870097
293 2022-10-21  15856919
..         ...       ...
252 2022-09-10   5229907
0   2022-01-01   5207474
32  2022-02-02   5179270
30  2022-01-31   4214014
31  2022-02-01   3766887

[365 rows x 2 columns]

In [37]:
# 어느 월에 가장 지하철 승객 수가 많았을까요?
subway.groupby('월', as_index = False)['총승객수'].sum().sort_values('총승객수', ascending = False)

     월       총승객수
11  12  411586147
9   10  409364141
10  11  408088532
4    5  406148909
6    7  386418440
8    9  384701901
5    6  382106244
7    8  372175596
3    4  367720014
0    1  335012088
2    3  326397672
1    2  284212374

In [133]:
data_month = subway.pivot_table(index = '월', values = '총승객수', aggfunc='sum')
data_month.sort_values(by = '총승객수', ascending = False)

         총승객수
월
12  411586147
10  409364141
11  408088532
5   406148909
7   386418440
9   384701901
6   382106244
8   372175596
4   367720014
1   335012088
3   326397672
2   284212374

In [56]:
# 어느 요일에 가장 지하철 승객 수가 많았을까요?
subway.groupby('요일', as_index = False)['총승객수'].sum().sort_values('총승객수', ascending = False)

  요일       총승객수
0  금  744278121
1  목  724134269
2  수  711512006
6  화  707603254
3  월  663101935
5  토  536198098
4  일  387104375

In [121]:
# 가장 승객이 많이 타는 승차역은?
subway.groupby('역명', as_index = False)['승차총승객수'].sum().sort_values('승차총승객수', ascending = False)

           역명    승차총승객수
430  잠실(송파구청)  30095803
257       서울역  26640701
35      고속터미널  26365609
11         강남  26144333
517      홍대입구  25588832
..        ...       ...
68        굴포천        36
482        춘의        35
217      부평구청        32
230     삼산체육관        20
215   부천종합운동장        11

[530 rows x 2 columns]

In [134]:
# 노선별로 역별/요일별 승차승객수를 구하시오.(pivot_table)

pv_month = pd.pivot_table(subway,                # 피벗할 데이터프레임
                     index = ['노선명','역명'],    # 행 위치에 들어갈 열
                     columns = '요일',    # 열 위치에 들어갈 열 > 사용한 컬럼 없을 땐 제외해도 가능
                     values = '승차총승객수',     # 데이터로 사용할 열
                     aggfunc = 'sum')   # 데이터 집계함수 > default : mean
pv_month

요일               금          목          수          월          일          토  \
노선명 역명
1호선 동대문   586678.0   566508.0   560116.0   543429.0   493857.0   554052.0
    동묘앞   432191.0   407326.0   403143.0   378809.0   597602.0   581224.0
    서울역  2661153.0  2429461.0  2340700.0  2296132.0  1561413.0  1954721.0
    시청   1265284.0  1269250.0  1245253.0  1141914.0   492339.0   804116.0
    신설동   751771.0   724587.0   711780.0   668970.0   394963.0   519406.0
...            ...        ...        ...        ...        ...        ...
중앙선 원덕     19862.0    18874.0    19257.0    19882.0    20575.0    22513.0
    중랑    309184.0   299326.0   295219.0   279579.0   179709.0   240169.0
    지평      3452.0     3529.0     3381.0     3580.0     3214.0     2968.0
    팔당     48033.0    45755.0    45995.0    44290.0    62962.0    69583.0
    회기   1401511.0  1378198.0  1342690.0  1253740.0   837620.0  1110203.0

요일               화
노선명 역명
1호선 동대문   558567.0
    동묘앞   396517.0
    서울역  2332031.0
    시청   1254394.0
    신설동   698462.0
...            ...
중앙선 원덕     19369.0
    중랑    295347.0
    지평      3438.0
    팔당     44466.0
    회기   1336649.0

[622 rows x 7 columns]

In [135]:
pv_month.columns

Index(['금', '목', '수', '월', '일', '토', '화'], dtype='object', name='요일')

In [137]:
# 노선별로 역별/요일별 승차승객수를 구하시오.(pivot_table) -요일 정리
pv_month_sort = pv_month[['월','화','수','목','금','토','일']]
pv_month_sort

요일               월          화          수          목          금          토  \
노선명 역명
1호선 동대문   543429.0   558567.0   560116.0   566508.0   586678.0   554052.0
    동묘앞   378809.0   396517.0   403143.0   407326.0   432191.0   581224.0
    서울역  2296132.0  2332031.0  2340700.0  2429461.0  2661153.0  1954721.0
    시청   1141914.0  1254394.0  1245253.0  1269250.0  1265284.0   804116.0
    신설동   668970.0   698462.0   711780.0   724587.0   751771.0   519406.0
...            ...        ...        ...        ...        ...        ...
중앙선 원덕     19882.0    19369.0    19257.0    18874.0    19862.0    22513.0
    중랑    279579.0   295347.0   295219.0   299326.0   309184.0   240169.0
    지평      3580.0     3438.0     3381.0     3529.0     3452.0     2968.0
    팔당     44290.0    44466.0    45995.0    45755.0    48033.0    69583.0
    회기   1253740.0  1336649.0  1342690.0  1378198.0  1401511.0  1110203.0

요일               일
노선명 역명
1호선 동대문   493857.0
    동묘앞   597602.0
    서울역  1561413.0
    시청    492339.0
    신설동   394963.0
...            ...
중앙선 원덕     20575.0
    중랑    179709.0
    지평      3214.0
    팔당     62962.0
    회기    837620.0

[622 rows x 7 columns]

In [138]:
# 2호선 역/요일별 총 승차 승객수
# pivot_table 활용
line_2 = subway[subway['노선명']=='2호선']

In [140]:
line_2_pivot = line_2.pivot_table(index = '역명', columns = '요일', values = '승차총승객수', aggfunc = 'sum')
line_2_pivot = line_2_pivot[['월', '화', '수', '목', '금', '토', '일']]
line_2_pivot

요일                    월        화        수        목        금        토        일
역명
강남              3944294  4247525  4226305  4339223  4560662  3061360  1764964
강변(동서울터미널)      1547838  1551439  1566582  1612265  1774188  1485299  1181725
건대입구            1684530  1767660  1803044  1847160  1975477  1827640  1370591
교대(법원.검찰청)      1636589  1799272  1788731  1824649  1835665   911099   547216
구로디지털단지         2882284  3097899  3081809  3148951  3162019  1819810  1258063
구의(광진구청)        1151041  1239890  1241682  1263279  1287034   871900   593516
낙성대(강감찬)        1321711  1418798  1435431  1459673  1508896  1135048   816603
당산               883616   962498   968115   984688   996778   673066   454304
대림(구로구청)        1190525  1238106  1241112  1252201  1271117   948829   788477
도림천               68503    72338    71795    73288    72791    43114    25256
동대문역사문화공원(DDP)   595819   626609   648007   659862   694600   579179   440629
뚝섬              1050860  1147110  1161183  1188301  1227616   804257   573911
문래              1055237  1150747  1146056  1168018  1169755   670759   416666
방배               856090   947793   943351   962392   938035   525081   349268
봉천              1172144  1249527  1246921  1267428  1287856   915739   641392
사당              1782962  1954739  1974423  2023853  2120443  1708213  1168449
삼성(무역센터)        2484305  2720685  2792588  2920045  2923572  1722005  1243557
상왕십리             697440   743100   751179   761075   776584   518960   361354
서울대입구(관악구청)     2286449  2444980  2456588  2500924  2599767  1953271  1366955
서초              1043996  1150594  1154548  1162489  1154192   609141   626356
선릉              2780330  3041293  3010582  3075567  3008945  1276766   698182
성수              1808716  1964872  1980780  2017474  2052107  1137775   793549
시청              1147897  1279085  1271162  1297964  1292889   617439   369145
신답                82385    88056    89085    90717    91930    55670    40365
신당               674397   721223   731416   737630   765955   587387   424222
신대방             1266904  1337022  1342202  1364037  1388072  1052157   791015
신도림             2296790  2444321  2500155  2538973  2603015  2114360  1468833
신림              2908975  3071564  3109239  3157733  3263125  2556443  1879480
신설동              165954   166515   175083   178151   197513   181985   162172
신정네거리            507812   542468   542309   549175   557205   394879   275133
신촌              1663317  1785569  1799150  1841340  1940033  1671010  1191438
아현               506226   550629   552297   561902   575412   402791   274732
양천구청             339723   362951   362899   368031   369768   243297   173370
역삼              2570729  2821241  2783772  2822549  2704234   952559   583564
영등포구청           1085947  1167764  1164880  1182351  1181623   665450   418151
왕십리(성동구청)        785763   843016   862754   878356   917529   708156   495434
용답               147537   154959   153824   158340   158792   115971    89759
용두(동대문구청)        117304   124032   123904   126478   132336    92076    59196
을지로3가           1110535  1205864  1226247  1235555  1256801   644753   475536
을지로4가            645254   694085   692728   709873   721473   413444   207845
을지로입구           1978401  2161440  2168694  2218030  2232474  1321977   948918
이대               702211   755634   762256   780019   800911   571640   388251
잠실(송파구청)        3401002  3629145  3704460  3764547  4049815  3730880  2760777
잠실나루             718452   780745   777892   786069   788727   405894   277150
잠실새내            1045083  1115696  1122639  1144951  1205065   929101   613730
종합운동장            365442   489062   499052   536804   673095   720887   583652
충정로(경기대입구)       485747   525941   527442   533683   526620   307436   196990
한양대              559189   628200   612793   632787   565156   258008   147174
합정              1449857  1557890  1589607  1642042  1744099  1520305  1109527
홍대입구            2711041  2816641  2898533  2986716  3265097  3553255  2722649

In [141]:
# 1호선에서 가장 하차를 많이 하는 역은? (groupby)
subway[subway['노선명'] == '1호선'].groupby('역명', as_index = False)['하차총승객수'].sum().sort_values('하차총승객수', ascending = False)

             역명    하차총승객수
2           서울역  15107638
6            종각  10940702
7          종로3가   7913074
3            시청   7549153
8          종로5가   7463686
9  청량리(서울시립대입구)   6752687
5           제기동   5839885
4           신설동   4326111
0           동대문   3680871
1           동묘앞   3317739

In [142]:
# 2호선중에서 어느 역에서 승차가 가장 많이 발생할까?
subway[subway['노선명'] == '2호선'].groupby('역명', as_index = False)['승차총승객수'].sum().sort_values('승차총승객수', ascending = False)

                역명    승차총승객수
0               강남  26144333
42        잠실(송파구청)  25040626
49            홍대입구  20953932
27              신림  19946559
4          구로디지털단지  18450835
20              선릉  16891665
16        삼성(무역센터)  16806757
26             신도림  15966447
18     서울대입구(관악구청)  15608934
33              역삼  15238648
40           을지로입구  13029934
15              사당  12733082
2             건대입구  12276102
30              신촌  11891857
21              성수  11755273
1       강변(동서울터미널)  10719336
48              합정  10613327
3       교대(법원.검찰청)  10343221
6         낙성대(강감찬)   9096160
25             신대방   8541409
8         대림(구로구청)   7930367
14              봉천   7781007
5         구의(광진구청)   7648342
22              시청   7275581
44            잠실새내   7176265
38           을지로3가   7155291
11              뚝섬   7153238
19              서초   6901316
34           영등포구청   6866166
12              문래   6777238
7               당산   5923065
13              방배   5522010
35       왕십리(성동구청)   5491008
41              이대   4760922
24              신당   4642230
17            상왕십리   4609692
43            잠실나루   4534929
10  동대문역사문화공원(DDP)   4244705
39           을지로4가   4084702
45           종합운동장   3867994
31              아현   3423989
47             한양대   3403307
29           신정네거리   3368981
46      충정로(경기대입구)   3103859
32            양천구청   2220039
28             신설동   1227373
36              용답    979182
37       용두(동대문구청)    775326
23              신답    538208
9              도림천    427085

In [143]:
# 2호선중에서 어느 역에서 하차가 가장 많이 발생할까?
subway[subway['노선명'] == '2호선'].groupby('역명', as_index = False)['하차총승객수'].sum().sort_values('하차총승객수', ascending = False)

                역명    하차총승객수
0               강남  25620317
42        잠실(송파구청)  24620229
49            홍대입구  22300019
27              신림  19238017
4          구로디지털단지  18369622
33              역삼  17100099
16        삼성(무역센터)  16877761
26             신도림  15974956
18     서울대입구(관악구청)  15273661
20              선릉  14977748
15              사당  14006679
40           을지로입구  13261269
2             건대입구  13190542
21              성수  12896419
30              신촌  12043586
3       교대(법원.검찰청)  11703582
48              합정  11462977
1       강변(동서울터미널)  10265345
6         낙성대(강감찬)   8801596
25             신대방   8273920
8         대림(구로구청)   8120891
11              뚝섬   7596212
5         구의(광진구청)   7495221
44            잠실새내   7234997
14              봉천   7224393
38           을지로3가   7164116
34           영등포구청   7103552
12              문래   6989326
22              시청   6916730
7               당산   6850011
19              서초   6536837
13              방배   5733090
41              이대   5066470
10  동대문역사문화공원(DDP)   4827565
24              신당   4817142
35       왕십리(성동구청)   4613927
17            상왕십리   4459925
43            잠실나루   4419739
45           종합운동장   4299182
39           을지로4가   4108740
47             한양대   3727438
29           신정네거리   3441806
46      충정로(경기대입구)   3299836
31              아현   3255144
32            양천구청   2287006
28             신설동   1176044
36              용답    980029
37       용두(동대문구청)    778596
23              신답    594375
9              도림천    447237